


<launch>
<param name="/use_sim_time" value="true"/>


<node pkg="tf" type="static_transform_publisher" name="base2lidar" args="-0.675 -0.008 0.96 3.14 0 0  base_link os1_lidar  100" />
<node pkg="tf" type="static_transform_publisher" name="odom2camodom" args="0 0 0 0 0 0  odom camera_odom_frame   100" />
<node pkg="tf" type="static_transform_publisher" name="odom2imu" args="0 0 0 0 0 0   odom_ned os1_imu   100" />
<node pkg="tf" type="static_transform_publisher" name="odom2imu2" args="0 0 0 0 0 0  odom_ned os1_sensor   100" />

<node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="pointcloud_to_laserscan">
<remap from="cloud_in" to="/os1_cloud_node/points"/>
<remap from="scan" to="/scan"/>
<rosparam>
transform_tolerance: 0.01
min_height: 0.0
max_height: 3.0
angle_min: -3.14
angle_max: 3.14
angle_increment: 0.0087
scan_time: 0.0666
range_min: 0.25
range_max: 55.0
use_inf: true
concurrency_level: 1
</rosparam>
</node>


<node pkg="gmapping" type="slam_gmapping" name="gmapping_thing" output="screen" >
<remap from="scan" to="/scan" />
<param name="odom_frame" value="odom" />
<param name="base_frame" value="base_link" />
<param name="map_update_interval" value="1.0"/>
<param name="maxUrange" value="10.0"/>
<param name="maxRange" value="20.0"/>
<param name="sigma" value="0.05"/>
<param name="kernelSize" value="0.05"/>
<param name="lstep" value="0.05"/>
<param name="astep" value="0.03"/>
<param name="iterations" value="5"/>
<param name="lsigma" value="0.075"/>
<param name="ogain" value="3.0"/>
<param name="lskip" value="0"/>
<param name="minimumScore" value="50"/>
<param name="srr" value="0.02"/>
<param name="srt" value="0.03"/>
<param name="str" value="0.02"/>
<param name="stt" value="0.03"/>
<param name="linearUpdate" value="0.01"/>
<param name="angularUpdate" value="0.01"/>
<param name="temporalUpdate" value="-1.0"/>
<param name="resampleThreshold" value="0.3"/>
<param name="particles" value="150"/>
<param name="xmin" value="-100.0"/>
<param name="ymin" value="-100.0"/>
<param name="xmax" value="100.0"/>
<param name="ymax" value="100.0"/>
<param name="delta" value="0.04"/>
<param name="llsamplerange" value="0.01"/>
<param name="llsamplestep" value="0.01"/>
<param name="lasamplerange" value="0.005"/>
<param name="lasamplestep" value="0.005"/>
</node>





<node pkg="imu_filter_madgwick" type="imu_filter_node"      name="imu_filter_madgwick_node1" >  
    <remap from="imu/data_raw" to="/os1_cloud_node/imu" />  
    <remap from="/imu/data" to="/imu/data_o" />
    <param name="use_mag" value="false"/>
    <param name="use_magnetic_field_msg" value="false"/>
    <param name="zeta" value="0.00"/>
    <param name="gain" value="0.02"/>  
</node>

<node pkg="imu_filter_madgwick" type="imu_filter_node"      name="imu_filter_madgwick_node2" >  
    <remap from="imu/data_raw" to="/mavros/imu/data_raw" />  
    <remap from="/imu/data" to="/imu/data_r" />
    <param name="use_mag" value="false"/>
    <param name="use_magnetic_field_msg" value="false"/>
    <param name="zeta" value="0.00"/>
    <param name="gain" value="0.02"/>  
</node>





<!-- Robot pose ekf -->
    <node name="ekf_node" pkg="robot_localization" type="ekf_localization_node" clear_params="true">

      <param name="frequency" value="60"/>
      <param name="sensor_timeout" value="0.1"/>
      <param name="two_d_mode" value="true"/>

      <param name="map_frame" value="map"/>
      <param name="odom_frame" value="camera_pose_frame"/>
      <param name="base_link_frame" value="base_link"/>
      <param name="world_frame" value="camera_pose_frame"/>

      <param name="transform_time_offset" value="0.0"/>
      <param name="transform_timeout" value="0.0"/>

      <param name="odom0" value="/camera/odom/sample"/>
      <param name="imu0" value="/imu/data_r"/>
      <param name="imu1" value="/imu/data_o"/>

      <rosparam param="odom0_config">[true,  true,  false,
                                false, false, true,
                                true,  true, true,
                                false, false, true,
                                false, false, false]</rosparam>
<rosparam param="imu0_config">[true,  true,  true,
                                false, false, false,
                                true,  true, true,
                                false, false, true,
                                true, true, true]</rosparam>
<rosparam param="imu1_config">[true,  true,  true,
                                false, false, false,
                                true,  true, true,
                                false, false, true,
                                true, true, true]</rosparam>

      <param name="odom0_differential" value="false"/>
      <param name="imu0_differential" value="false"/>
        <param name="imu1_differential" value="false"/>
   

      <param name="odom0_relative" value="true"/>
      <param name="imu0_relative" value="false"/>
       <param name="imu1_relative" value="false"/>

      <param name="imu0_remove_gravitational_acceleration" value="true"/>
      <param name="imu1_remove_gravitational_acceleration" value="true"/>

      <param name="print_diagnostics" value="true"/>

      <param name="odom0_queue_size" value="10"/>
      <param name="imu0_queue_size" value="10"/>
            <param name="imu1_queue_size" value="10"/>

      <param name="debug"           value="false"/>
      <param name="debug_out_file"  value="debug_ekf_localization.txt"/>

      <rosparam param="process_noise_covariance">[0.05, 0,    0,    0,    0,    0,    0,     0,     0,    0,    0,    0,    0,    0,    0,
                                                  0,    0.05, 0,    0,    0,    0,    0,     0,     0,    0,    0,    0,    0,    0,    0,
                                                  0,    0,    0.06, 0,    0,    0,    0,     0,     0,    0,    0,    0,    0,    0,    0,
                                                  0,    0,    0,    0.03, 0,    0,    0,     0,     0,    0,    0,    0,    0,    0,    0,
                                                  0,    0,    0,    0,    0.03, 0,    0,     0,     0,    0,    0,    0,    0,    0,    0,
                                                  0,    0,    0,    0,    0,    0.06, 0,     0,     0,    0,    0,    0,    0,    0,    0,
                                                  0,    0,    0,    0,    0,    0,    0.025, 0,     0,    0,    0,    0,    0,    0,    0,
                                                  0,    0,    0,    0,    0,    0,    0,     0.025, 0,    0,    0,    0,    0,    0,    0,
                                                  0,    0,    0,    0,    0,    0,    0,     0,     0.04, 0,    0,    0,    0,    0,    0,
                                                  0,    0,    0,    0,    0,    0,    0,     0,     0,    0.01, 0,    0,    0,    0,    0,
                                                  0,    0,    0,    0,    0,    0,    0,     0,     0,    0,    0.01, 0,    0,    0,    0,
                                                  0,    0,    0,    0,    0,    0,    0,     0,     0,    0,    0,    0.02, 0,    0,    0,
                                                  0,    0,    0,    0,    0,    0,    0,     0,     0,    0,    0,    0,    0.01, 0,    0,
                                                  0,    0,    0,    0,    0,    0,    0,     0,     0,    0,    0,    0,    0,    0.01, 0,
                                                  0,    0,    0,    0,    0,    0,    0,     0,     0,    0,    0,    0,    0,    0,    0.015]</rosparam>

      <rosparam param="initial_estimate_covariance">[1e-9, 0,    0,    0,    0,    0,    0,    0,    0,    0,     0,     0,     0,    0,    0,
                                                     0,    1e-9, 0,    0,    0,    0,    0,    0,    0,    0,     0,     0,     0,    0,    0,
                                                     0,    0,    1e-9, 0,    0,    0,    0,    0,    0,    0,     0,     0,     0,    0,    0,
                                                     0,    0,    0,    1e-9, 0,    0,    0,    0,    0,    0,     0,     0,     0,    0,    0,
                                                     0,    0,    0,    0,    1e-9, 0,    0,    0,    0,    0,     0,     0,     0,    0,    0,
                                                     0,    0,    0,    0,    0,    1e-9, 0,    0,    0,    0,     0,     0,     0,    0,    0,
                                                     0,    0,    0,    0,    0,    0,    1e-9, 0,    0,    0,     0,     0,     0,    0,    0,
                                                     0,    0,    0,    0,    0,    0,    0,    1e-9, 0,    0,     0,     0,     0,    0,    0,
                                                     0,    0,    0,    0,    0,    0,    0,    0,    1e-9, 0,     0,     0,     0,    0,    0,
                                                     0,    0,    0,    0,    0,    0,    0,    0,    0,    1e-9,  0,     0,     0,    0,    0,
                                                     0,    0,    0,    0,    0,    0,    0,    0,    0,    0,     1e-9,  0,     0,    0,    0,
                                                     0,    0,    0,    0,    0,    0,    0,    0,    0,    0,     0,     1e-9,  0,    0,    0,
                                                     0,    0,    0,    0,    0,    0,    0,    0,    0,    0,     0,     0,     1e-9, 0,    0,
                                                     0,    0,    0,    0,    0,    0,    0,    0,    0,    0,     0,     0,     0,    1e-9, 0,
                                                     0,    0,    0,    0,    0,    0,    0,    0,    0,    0,     0,     0,     0,    0,    1e-9]</rosparam>

    </node>

</launch>
